body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #131313;
  color: white;
}

.contenedor-principal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  padding: 40px;
  gap: 60px;
  background-color: #131313;
}

.texto-bienvenida {
  flex: 1;
  max-width: 50%;
  padding: 40px;
}

.titulo1 {
  font-size: 1.6rem;
  font-weight: bold;
  color: #FFFFFF;
  line-height: 1.6;
}

.titulo1 span {
  color: #00ffff;
}

.formulario-login {
  flex: 1;
  max-width: 400px;
  background: #28251F;
  padding: 40px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
}

.formulario-login h2 {
  margin-bottom: 20px;
  font-weight: bold;
  color: #E45F11;
}

.inicio {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.inicio input {
  padding: 12px;
  margin-bottom: 20px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  background-color: #d9d9d9;
  color: black;
}

.botones {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 10px;
}

.btn-login,
.btn-register {
  padding: 12px;
  border: none;
  border-radius: 8px;
  background-color: #E45F11;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-login:hover,
.btn-register:hover {
  background-color: #C64F0F;
}

p {
  color: #ff5a5a;
  margin-top: 10px;
  font-weight: bold;
  text-align: center;
}

.footer-links {
  margin-top: 30px;
  font-size: 0.9rem;
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  color: white;
}

.footer-links a {
  color: white;
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
}

.imagen-inferior {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 100px;
  height: auto;
  z-index: 1000;
  border-radius: 70%;
}
