/* Estilo general */
.producto-container {
  display: flex;
  min-height: 100vh;
  background-color: #131313;
  color: #FFFFFF;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.menu-lateral {
  width: 250px;
  background-color: #28251F;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0,0,0,0.3);
}

.menu-lateral h2 {
  color: #E45F11;
  margin-bottom: 30px;
  font-size: 1.5rem;
  text-align: center;
}

.menu-lateral ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-lateral li {
  display: flex;
  align-items: center;
  margin-bottom: 35px;
  padding: 10px;
  border-radius: 6px;
  transition: background-color 0.2s;
}

.menu-lateral li:hover {
  background-color: #131313;
}

.menu-lateral img {
  width: 24px;
  height: 24px;
  margin-right: 12px;
  filter: brightness(0) invert(1); /* Fuerza el icono a blanco */
}

.menu-lateral a {
  color: #FFFFFF;
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
  transition: color 0.2s;
}

.menu-lateral a:hover {
  color: #E45F11;
}

/* Botón de cerrar sesión */
.cerrar-sesion-btn {
  margin-top: 30px;
  width: 100%;
  padding: 10px;
  background-color: #E45F11;
  color: #FFFFFF;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.2s;
}

.cerrar-sesion-btn:hover {
  background-color: #C64F0F;
}

/* Contenido principal */
.contenido-principal {
  flex: 1;
  padding: 40px;
  background-color: #131313;
  color: #C6C7C0;
  font-size: 1rem;
  line-height: 1.6;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.contenido-principal strong {
  color: #FFFFFF;
  font-size: 1.1rem;
}

.contenido-principal .texto-info {
  flex: 1;
}

.logo2 {
  max-width: 300px;
  height: auto;
}
